@{
    ViewData["Title"] = "Carrossel";
}
@model List<Produto>

<h3>Catálogo</h3>

<div id="items-carrossel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        @{
            const int tamanhoPagina = 4;
            int numPaginas = (int)Math.Ceiling((double)Model.Count() / tamanhoPagina);
        }
        @for(int pagina = 0; pagina < numPaginas; pagina++)
        {
            <div class="item @(pagina == 0 ? 'active' : '') row">
                @{
                    var produtosPagina =
                        Model
                        .Skip(tamanhoPagina * pagina)
                        .Take(tamanhoPagina);
                }
                @foreach(var produto in produtosPagina)
                {
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="~/images/produtos/large_@(produto.Id).jpg" />
                            </div>
                            <div class="panel-footer">
                                <div>@(produto.Nome)</div>
                                <div>R$ @(produto.Preco)</div>
                                <div class="text-center">
                                    <a asp-action="carrinho">Adicionar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <a class="left carousel-control" href="#items-carrossel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#items-carrossel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>