@{
    ViewData["Title"] = "Resumo";
}

<h3>Resumo do Pedido</h3>


<div class="panel panel-default">
    <div class="panel-body">
       
       <div class="row">
           <div class="col-xs-12">
               <h3>N° do Pedido: 123456789</h3>
           </div>
    
       </div>
       <hr />
       
       <div class="row">
           
           <div class="col-xs-12 col-sm-3">
               <h3>Seus Dados</h3>
               <div>João da Silva</div>
               <div>(31) 993526911</div>
           </div>
           
           <div class="col-xs-12 col-sm-3">
            <div>bfc1@outlook.com</div>
           </div>
           
           <div class="col-xs-12 col-sm-6">
                <h3>Endereco de Entrega</h3>   
                <div>Dr. Milton bandeira, 45</div>
           </div>           
       </div>

       <hr />
       <div class="row">
           
           <div class="col-xs-6 col-sm-9">
               <h3>Item</h3>
               <div>REST</div>
           </div>
           
           <div class="col-xs-6 col-sm-3">
                   <h3>Quantidade</h3>
               <div class="pull-right">1</div>
           </div>
           
           
       </div>
       
       
       
    </div>
</div>
